* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // text-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

:root {
  --height: 32px;
  --border: 2px solid #44484C;
  --radius: 16px;
  --gap: 12px;
}


body {
  color: #fff;
  background: #000;
  font-size: 16px;
}
